*, *::after, *::before{
    box-sizing: border-box;
}

:root{
    --cell-size:100px;
    --mark-size: calc(var(--cell-size) * .9);
}

body{
    margin: 0;
    background-color: aqua;
}

h1{
    text-align: center;
    margin-top: 100px;
    font-size: 70px;
    font-family: sans-serif;
    font-weight: 900;
    font-style: italic;
}

.grid-container{
    margin-top: -200px;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}
.grid-item{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.grid-item.x::before,
.grid-item.x::after{
    background-color: black;
}

.grid-item.o::before,
.grid-item.o::after{
    background-color: black;
}

.grid-container.x .grid-item:not(.x):not(.o):hover::after,
.grid-container.x .grid-item:not(.x):not(.o):hover::before{
    background-color: darkgray;
}

.grid-container.o .grid-item:not(.x):not(.o):hover::after,
.grid-container.o .grid-item:not(.x):not(.o):hover::before{
    background-color: darkgray;
}


.grid-item.x,
.grid-item.o{
    cursor: not-allowed;
}

.grid-item:first-child,
.grid-item:nth-child(2),
.grid-item:nth-child(3){
    border-top: none;
}

.grid-item:last-child,
.grid-item:nth-child(8),
.grid-item:nth-child(7){
    border-bottom: none;
}

.grid-item:nth-child(3n + 1){
    border-left: none;
}

.grid-item:nth-child(3n + 3){
    border-right: none;
}

.grid-item.x::before,
.grid-item.x::after,
.grid-container.x .grid-item:not(.x):not(.o):hover::after,
.grid-container.x .grid-item:not(.x):not(.o):hover::before{
    content: " ";
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    position: absolute;
    
}

.grid-item.x::before,
.grid-container.x .grid-item:not(.x):not(.o):hover::before{
    transform: rotate(45deg);
}

.grid-item.x::after,
.grid-container.x .grid-item:not(.x):not(.o):hover::after{
    transform: rotate(-45deg);
}

.grid-item.o::before,
.grid-item.o::after,
.grid-container.o .grid-item:not(.x):not(.o):hover::after,
.grid-container.o .grid-item:not(.x):not(.o):hover::before{
    content: " ";
    position: absolute;
    border-radius: 50%;
}

.grid-item.o::before,
.grid-container.o .grid-item:not(.x):not(.o):hover::before{
    width: var(--mark-size);
    height: var(--mark-size);
}

.grid-item.o::after,
.grid-container.o .grid-item:not(.x):not(.o):hover::after{
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: aqua;
}

.winning-message{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button{
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

.winning-message button:hover{
    background-color: black;
    border-color: white;
    color: white;

}

.winning-message.show{
    display: flex;
}
